<div class="main-container">
  <div class="wthrn-container">
    <h1 class="wthrn-title">wthrn</h1>
    <div class="wthrn-subtitle">
      <span>\ ˈwi-t͟hərn \</span> : <span>w</span>ea<span>th</span>e<span>r</span>; <span>r</span>ight <span>n</span>ow.
    </div>
    <div class="wthrn">
      <img class="placeholder" src="https://assets.wthrn.com/images/Cloud-Rain-Sun.svg" draggable="false">
    </div>
    <div class="github-links">
      <a class="github-button" href="https://github.com/wthrn" data-size="large" aria-label="Follow @wthrn on GitHub">Follow @wthrn</a>
      <a class="github-button" href="https://github.com/wthrn/api/subscription" data-icon="octicon-eye" data-size="large" aria-label="Watch wthrn/api on GitHub">Watch</a>
      <a class="github-button" href="https://github.com/wthrn/api" data-icon="octicon-star" data-size="large" aria-label="Star wthrn/api on GitHub">Star</a>
      <a class="github-button" href="https://github.com/wthrn/api/fork" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork wthrn/api on GitHub">Fork</a>
    </div>
    <div class="social">
      <div class="fb-like social-action" data-href="https://www.wthrn.com" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
      <a class="twitter-share-button social-action"
      href="https://twitter.com/intent/tweet?text=Check%20out%20wthrn!%20rn!"
      data-size="large">Tweet</a>
      <a class="social-action" [href]="mailTo"><i class="fas fa-envelope fa-2x"></i></a>
    </div>
  </div>
  <div class="footer">
    <div>Are you using <a href="https://mixmax.com/">Mixmax</a> yet? Check out  <a href="https://github.com/wthrn/api">the wthrn Mixmax slash command</a>!</div>
  </div>
</div>
